/* utils */
.font-roboto-slab {
    font-family: 'Roboto Slab', serif;
}

.spacer-50 {
    height: 50px;
}

.spacer-200 {
    height: 200px;
}

.text-primary {
    color: #9C27B0 !important;
}

.text-white {
    color: #fff !important;
    
}

.text-justify {
    text-align: justify;
}

.btn-primary {
    background: #9C27B0;
    border: #9C27B0;
}

.btn-primary:hover {
    background: #781d88;
    border: #781d88;
}

.btn-gradient {
    border-radius: 37px;
    background: -o-linear-gradient(176deg,
            #5b4f96 5.97%,
            #7b3cc3 26.86%,
            #ab2bc1 73.79%,
            #9c27b0 96.12%);
    background: linear-gradient(274deg,
            #5b4f96 5.97%,
            #7b3cc3 26.86%,
            #ab2bc1 73.79%,
            #9c27b0 96.12%);
}


.round-number {
    width: 100px;
    height: 100px;
    font-size: 40px;
    font-weight: 600;
    line-height: 0;
    padding-top: 50px;
}

.invert {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

.mirror {
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1)
}

.text-lighter {
    color: #c4c4c4;
}

.grey-card {
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #575757;
}

.grey-card:hover {
    border: 2px solid #8b1e9e;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Login & Register */
body.auth {
    min-height: 100vh;
}

.auth .logo {
    max-width: 50px;
}

.auth h1 {
    font-size: 35px;
}

.auth input.form-control,
.auth input.form-control:-webkit-autofill {
    border: 2px solid transparent;
    color: #fff !important;
    background-color: #181818;
    padding-top: 13px;
    padding-bottom: 13px;
}

.auth input.form-control::-webkit-input-placeholder {
    color: #8d8d8d !important;

}

.auth input.form-control::-moz-placeholder {
    color: #8d8d8d !important;

}

.auth input.form-control:-ms-input-placeholder {
    color: #8d8d8d !important;

}

.auth input.form-control::-ms-input-placeholder {
    color: #8d8d8d !important;

}

.auth input.form-control::placeholder {
    color: #8d8d8d !important;

}


.auth input.form-control:focus {
    border: 2px solid #9324A7;
    background-color: transparent;
    outline: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* color: #fff !important; */
}

.auth label {
    font-size: 18px;
    font-weight: 500;
}

.auth .submitBtn {
    border-radius: 10px;
    background: #9324A7;
    font-size: 19px;
    font-weight: 500;
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 11px 0;
}

.auth .rememberPasswordWraper label {
    color: #8d8d8d;
}

.auth .rememberPasswordWraper input {
    background-color: transparent;
    line-height: 3px;
}

.login-banner-bg {
    background-image: url('../images/login-banner.png');
    background-position: center;
    background-size: cover;
}

/* HEADER */
.navbar-brand img {
    max-width: 30px;
}

.nav-item .nav-link {
    color: #fff;
    font-weight: 500;
}

.nav-item .nav-link.active {
    color: #9C27B0;
}

.nav-item .nav-link.active::after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    background-color: #9C27B0;
    margin: auto;
}

.navbar:has(.navbar-toggler[aria-expanded="true"]) {
    border-radius: 1.5rem !important;
}

@media (max-width: 991px) {
    .nav-item .nav-link.active::after {
        margin-left: 10px;
    }
}
@media only screen and (max-width: 768px) { /* Adjusts the width threshold as needed */
    img {
      width: 80%; /* Or any other size */
      height: auto;
    }
  }
  

/* Home Page */
#hero {
    background: var(--linear, linear-gradient(180deg, #9324A7 0%, #20034B 100%));
}

.hero-content h1 {
    font-size: 3rem;
}

#hero .mobileScreens img {
    max-width: 300px !important;
}

@media (max-width :767px) {
    .hero-content h1 {
        font-size: 2rem;
    }

    #hero .subText {
        font-size: 1.3rem !important;
    }
}

.videoSection {
    background: var(--linear, linear-gradient(180deg, #20034B 0%, #9324A7 100%));
}

.videoSection iframe {
    width: 900px;
    height: 500px;
    margin-bottom: -200px;
}

@media (max-width: 991px) {
    .videoSection iframe {
        width: 600px;
        height: 337px;
    }

}

@media (max-width: 767px) {
    .videoSection iframe {
        width: 450px;
        height: 254px;
        margin-bottom: -170px;
    }
}

@media (max-width: 480px) {
    .videoSection iframe {
        width: 95%;
        height: 180px;
        margin-bottom: -80px;
    }
}

.blogSubText {
    max-width: 800px;
    margin: auto;
}

/* Other pages */



.how-it-works h2 {
    font-size: 3rem;
    font-weight: 600;
}

.spacer-150 {
    height: 150px;
}

:is(.text-off-white, .Last-seen-section) {
    color: rgba(255, 255, 255, 1);
}



.card-text {
    color: rgba(108, 108, 114, 1);
    font-size: 15px;
}

footer {
    background-color: rgba(35, 34, 51, 1);
}

.footer-text {
    font-size: 14px;
}

.sendEmailBtn {
    margin: 3px;
    right: 56px;
}

/* media queries */
@media (max-width: 767.98px) {
    .spacer-150 {
        height: 50px;
    }

    .how-it-works h2 {
        font-size: 2rem;
    }
}

@media (max-width: 575.98px) {
    .spacer-150 {
        height: 25px;
    }
}


/* FOOTER START */
.footerLine {
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    height: 1px;
}

/* FOOTER END */

/* SLIDER START */
.visuallyhidden {
    position: absolute;
    z-index: -1;
    right: 0;
    opacity: 0;
}

.card-carousel {
    --card-width: 80%;
    --card-max-width: 800px;
    --card-height: 380px;
    --carousel-min-width: 300px;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: var(--card-height);
    min-width: var(--carousel-min-width);
    -webkit-transition: -webkit-filter 0.3s ease;
    transition: -webkit-filter 0.3s ease;
    -o-transition: filter 0.3s ease;
    transition: filter 0.3s ease;
    transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.card-carousel.smooth-return {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.card-carousel .card {
    background: -webkit-gradient(linear, left top, left bottom, from(#21044c), to(#9c27b0));
    background: -o-linear-gradient(top, #21044c 0%, #9c27b0 100%);
    background: linear-gradient(180deg, #21044c 0%, #9c27b0 100%);
    width: var(--card-width);
    max-width: var(--card-max-width);
    text-align: center;
    padding: 1em;
    min-width: 250px;
    height: var(--card-height);
    position: absolute;
    margin: 0 auto;
    color: #fff;
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.card.highlight {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.card:nth-of-type(1) .image-container {
    background-image: url("/assets/images/profile-img-1.png");
}

.card:nth-of-type(2) .image-container {
    background-image: url("/assets/images/pro-img-2.jpg");
}

.card:nth-of-type(3) .image-container {
    background-image: url("/assets/images/pro-img-3.jpg");
}

.card:nth-of-type(4) .image-container {
    background-image: url("/assets/images/pro-img4.jpg");
}

.card:nth-of-type(5) .image-container {
    background-image: url("/assets/images/pro-img-5.jpg");
}

.image-container {
    width: 8em;
    height: 8em;
    position: relative;
    background-size: cover;
    margin-bottom: 2em;
    border-radius: 100%;
    padding: 1em;
}

@media (max-width: 767px) {
    .card-carousel {
        --card-height: 520px;
        height: var(--card-height);

    }
}

@media (max-width: 457px) {
    .card-carousel {
        --card-height: 580px;
        height: var(--card-height);

    }
}

@keyframes breathing {
    0%, 100% {
      transform: scale(1); /* Original size */
    }
    50% {
      transform: scale(1.05); /* Slightly larger */
    }
  }
  
  /* Apply the animation to the .owl-image class */
  .owl-image {
    width: 80px;
    height: 80px;
    animation: breathing 2s ease-in-out infinite;
  }

  .sticky-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; /* Top offset when sticking */
    z-index: 1020; /* Ensure it's above other content */
  }


/* SLIDER END */

/* Style for navbar links on hover */
.navbar-nav .nav-link:hover {
    color: #fff; /* Changes text color */
    background-color: #9c27b0; /* Adds a background color */
    border-radius: .25rem; /* Optional: adds rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */
  }
  
  /* Style for the active navbar link */
  .navbar-nav .nav-link.active {
    font-weight: bold; /* Makes the active link bold */
    color: #ddd; /* Color for the active link */
  }
  
  /* Change the login link color on hover to make it stand out */
  .navbar-nav .nav-link.text-primary:hover {
    color: #ccc; /* Lighter shade when hovered for contrast */
    text-decoration: underline; /* Underline text to highlight hover */
    transition: color 0.2s; /* Smooth transition for color change */
  }
  
  /* Add a hover effect to the Sign Up button for a 'raised' look */
  .navbar-nav .signupBtn a.btn:hover {
    box-shadow: 0 5px 15px #9c27b0; /* Shadow for 'lift-off' effect */
    transform: translateY(-2px); /* Slightly raise the button */
    transition: box-shadow 0.3s, transform 0.3s; /* Smooth transition for shadow and transform */
  }
  
  /* Ensure that transitions are smooth when hovering out */
  .navbar-nav .nav-link, .navbar-nav .signupBtn a.btn {
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s, transform 0.3s;
  }
  

/* Add to the existing CSS provided */

/* Contact Section styling */
#contact .form-control {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-radius: 5px;
    border: 2px solid #575757;
    margin-bottom: 15px;
}

#contact .form-control:focus {
    border-color: #9C27B0;
    box-shadow: none;
}
.form-control::placeholder {
    color: #fff; /* White color */
    opacity: 0.5; /* Full opacity */
}
#contact .form-group textarea.form-control {
    resize: none; /* Prevents resizing the textarea */
}

#contact .btn-primary.btn-gradient {
    /* Use the .btn-gradient class provided */
    width: 100%; /* Makes the button full-width */
    padding: 10px; /* Adds padding for better touch */
    font-size: 1.2em; /* Larger font size for the button text */
}

/* Responsive adjustment for smaller devices */
@media (max-width: 576px) {
    #contact .btn-primary.btn-gradient {
        font-size: 1em; /* Smaller font size for the button text on small screens */
    }
}
.faq {
    padding:20px;
}

responsive-image {
    width: 100%;
    height: auto;
    max-width: 50px; /* This will ensure the image does not exceed its original width */
  }
  
  @media (max-width: 768px) { /* Adjust the max-width as needed for your breakpoint */
    .responsive-image {
      max-width: 5%; /* On smaller screens, allow the image to be full container width */
    }
  }


/* CSS file content */
.btn {
    transition: all 0.5s ease; /* This will make sure that all changes in the button state are animated */
  }
  
  .btn:hover {
    background-image: linear-gradient(to right, #9C27B0, #21044c); /* Replace with your second gradient color */
    color: white !important; /* Replace with the color you want for the text on hover */
    transform: scale(1.05); /* Slightly enlarges the button to indicate interactivity */
    box-shadow: 0 10px 20px rgba(0,0,0,0.2); /* Adds a shadow for depth */
  }

.newFeature {
    font-size: 1.5rem;
    font-weight: 400;
}
.owl {
    font-size: 16px;
    padding-top: 40px;
}